<div class="post">
  <div class="post-meta">
    <%= link_to(avatar(post.account, type: :thumb), profile_path(post.account.username)) %>
    <%= link_to post.account.username, profile_path(post.account.username), class: 'text-dark' %>
  </div>
  <%= image_tag post.image.url, class: 'img img-fluid' %>

  <div class="post-details">

    <div class="post-actions">
      <%= like_button(post_id: post.id, account_id: current_account.id) %>
      <%= link_to icon('far', 'comment', class: "fa-lg post-comment"), post_path(post), class: 'text-dark' %>
    </div>

    <p class="likes-count font-weight-bold" data-id="<%= post.id %>"><%= post.likes_count %> likes</p>
    <p>
      <strong><%= link_to post.account.username, profile_path(post.account.username), class: 'text-dark' %></strong>
    </p>
    <%= simple_format post.description || '...' %>

    <%= render post.comments[0..3] %>
    <%= link_to "View all #{post.comments_count} comments", post_path(post), class: 'text-muted' if post.comments_count > 4 %>
    <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
  </div>
  <div class="comment-box">
    <%= form_for @comment do |f| %>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.hidden_field :account_id, value: current_account.id %>
      <div class="input-group">
        <%= f.text_field :comment, placeholder: 'Add comment...', class: 'form-control comment-input' %>
        <div class="input-group-append">

          <%= f.submit 'Save', class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
