<div class="container">
  <div class="row">
    <div class="col-8">
      <%= render @posts %>
    </div>
    <div class="col-4">
      <div class="account-summary">
        <p>
          <%= link_to avatar(current_account, type: :thumb), profile_path(current_account.username) %>
          <%= link_to current_account.username, profile_path(current_account.username), class: "font-weight-bold text-dark" %>
          <br/>
        </p>
        <p><%= current_account.full_name %></p>
      </div>
      <div class="follower-suggestions">
        <%= link_to 'View all', '#', class: "float-right text-dark" %>
        <p class="text-muted">Suggestions for you</p>
        <%= render partial: 'follower_suggestion', collection: @follower_suggestions %>
      </div>
    </div>
  </div>
</div>