<div class="container">
  <div class="row">
    <div class="col-4 align-content-center">
      <%= image_tag @account.avatar.url, width: '200px', class: 'avatar' %>
    </div>
    <div class="col-8 text-left">
      <h1><%= @account.username %></h1>
      <%= link_to 'Edit profile', edit_account_registration_path, class: 'btn btn-outline-secondary' %>
      <div class="profile-stats"><%= @account.posts.count %> posts</div>
      <div class="profile-stats"><%= @account.total_followers %> followers</div>
      <div class="profile-stats"><%= @account.total_following %> following</div>

      <p><strong><%= @account.full_name %></strong></p>
      <%= simple_format @account.description %>
      <p><%= link_to @account.website if @account.website.present? %></p>
    </div>
  </div>
  <hr />
  <div class="row profile-posts">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="post">
          <%= image_tag post.image.url, class: 'img img-fluid' %>
        </div>
      </div>
    <% end %>
  </div>
</div>